
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
function drawVisualization() {
  var data = new google.visualization.DataTable();

  	data.addColumn('date', 'Date');
  	data.addColumn('number', 'Minutes Late');
  	data.addColumn('number', 'On-Time');
  	data.addColumn('string', 'title1');
  	data.addRows(<%= @summaries.count %>);
	<% @summaries.each_with_index do |summary, idx| %>
		data.setValue(<%= idx %>, 0, new Date(<%= summary.start_time.to_i*1000 %>));
		data.setValue(<%= idx %>, 1, <%= summary.secs_late.to_f/60 %>);	
		data.setValue(<%= idx %>, 2, 0);	
		//data.setValue(<%= idx %>, 3, '<%= summary.bus_id.to_s %>' );	
	<% end %>
/*
  data.addRows(6);
  data.setValue(0, 0, new Date(2008, 1 ,1));
  data.setValue(0, 1, 30000);
  data.setValue(0, 4, 40645);
  data.setValue(1, 0, new Date(2008, 1 ,2));
  data.setValue(1, 1, 14045);
  data.setValue(1, 4, 20374);


  data.setValue(2, 0, new Date(2008, 1 ,3));
  data.setValue(2, 1, 55022);
  data.setValue(2, 4, 50766);
  data.setValue(3, 0, new Date(2008, 1 ,4));
  data.setValue(3, 1, 75284);
  data.setValue(3, 4, 14334);
  data.setValue(3, 5, 'Out of Stock');
  data.setValue(3, 6, 'Ran out of stock on pens at 4pm');
  data.setValue(4, 0, new Date(2008, 1 ,5));
  data.setValue(4, 1, 41476);
  data.setValue(4, 2, 'Bought Pens');
  data.setValue(4, 3, 'Bought 200k pens');
  data.setValue(4, 4, 66467);
  data.setValue(5, 0, new Date(2008, 1 ,6));
  data.setValue(5, 1, 33322);
  data.setValue(5, 4, 39463);
*/
  
  var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
      document.getElementById('visualization'));
  //annotatedtimeline.draw(data, {'displayAnnotations': true});
  annotatedtimeline.draw(data, {
                                'allValuesSuffix': ' mins', // A suffix that is added to all values
                                //'colors': ['blue', 'red', '#0000bb'], // The colors to be used
				'dateFormat': 'HH:mm MMMM dd',
                                'displayAnnotations': true,
                                //'displayExactValues': true, // Do not truncate values (i.e. using K suffix)
                                //'displayRangeSelector' : false, // Do not sow the range selector
                                //'displayZoomButtons': false, // DO not display the zoom buttons
                                'fill': 70, // Fill the area below the lines with 20% opacity
                                //'legendPosition': 'newRow', // Can be sameRow
                                //'max': 100000, // Override the automatic default
                                //'min':  100000, // Override the automatic default
                                //'scaleColumns': [0, 1], // Have two scales, by the first and second lines
    //                            'scaleType': 'allfixed', // See docs...
                                'thickness': 3, // Make the lines thicker
                                //'zoomStartTime': new Date(2011, 06 ,26), //NOTE: month 1 = Feb (javascript to blame)
                                //'zoomEndTime': new Date(2011, 06 ,29) //NOTE: month 1 = Feb (javascript to blame)
                               });

}

    google.setOnLoadCallback(drawVisualization);

</script>

<h1>On-Time Chart for Bus 22 Inbound</h1>
<h4>Less than 0 values imply that the bus came in early</h4>
<h4>Spikes most likely imply that the bus never finished the route and was turned around early</h4>
<div id="visualization" style="width: 1350px; height: 400px;"></div>

