<h1>Listing summaries</h1>

<table>
  <tr>
    <th>Bus</th>
    <th>Route</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Late/Early</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @summaries.each do |summary| %>
  <tr>
    <td><%= link_to summary.bus_id, :action => "show_bus_id", :id => summary.bus_id %> | </td>
    <td><%= summary.route_id %> | </td>
    <td><%= Time.at(summary.start_time.to_i).localtime("-07:00").asctime %> | </td>
    <td><%= Time.at(summary.end_time.to_i).localtime("-07:00").asctime %> | </td>
    <td> 
	<% if summary.secs_late.to_i > 0 %>
		<%= distance_of_time_in_words(summary.end_time.to_i, summary.end_time.to_i+summary.secs_late.to_i,include_seconds=true) %> late 
	<% else %>
		<%= distance_of_time_in_words(summary.end_time.to_i, summary.end_time.to_i+summary.secs_late.to_i,include_seconds=true) %> early

	<% end %>

    <td><%= link_to 'Show', summary %></td>
    <td><%= link_to 'Edit', edit_summary_path(summary) %></td>
    <td><%= link_to 'Destroy', summary, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Summary', new_summary_path %>
