<p id="notice"><%= notice %></p>

<p>
  <b>Bus:</b>
  <%= @run.bus_id %>
</p>

<p>
  <b>Content:</b>
  <%= @run.content %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
